.group_hover :hover {
    color : #003B8C !important;
    cursor: pointer;
}

.Text,.Start,
.Document {
    transition: color 0.3s ease;
}

.Blue {
    color: blue!important;
}

.Text:hover {
    color: blue!important; /* Change the color to your desired one */
}

.Document:hover {
    color: blue !important; /* Change the color to your desired one */
}

.Start:hover {
    color: #003B8C !important;
}
.Start li {
    color: black !important;
  }
  
  .Start li:hover {
    color: red !important; /* Change to the desired hover color */
    cursor: pointer;
  }
  