body {
    background-color: #FAEED1;
    font-family: monospace;
}

.group_hover :hover {
    color : #003B8C !important;
    cursor: pointer;
}

.Text,.Start,
.Document {
    transition: color 0.3s ease;
}

.Blue {
    color: #301c1c80!important;
    font-weight: 1000 !important;
}

.Text:hover {
    opacity: 0.7; /* Change the color to your desired one */
}

.Document:hover {
    opacity: 0.7; /* Change the color to your desired one */
}

.Start:hover {
   opacity: 0.7;
}
.Start li {
    color: black !important;
  }
  
.Start li:hover {
    color: red !important; /* Change to the desired hover color */
    cursor: pointer;
}

.disappear {
    display: none !important;
}
  